# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/95ea088c-7b48-4be9-b2a1-b9e67bc5187b.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/204fc42d-cb89-48f8-aa19-9be5c6127788.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/49827bb3-750e-4283-a5fc-5fbc29756d05.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/7ecf9f4c-65ff-4241-8ad5-7e35dbede824.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/b1f948ba-13c6-4982-aa7f-9d79d87a9e22.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/387b9fbc-466e-4902-a5e7-ddc76fb27dcd.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/Browse.VC.opendb
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/Browse.VC.db-wal
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/Browse.VC.db-shm
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/Browse.VC.db
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/.suo
