# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/95ea088c-7b48-4be9-b2a1-b9e67bc5187b.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/204fc42d-cb89-48f8-aa19-9be5c6127788.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/49827bb3-750e-4283-a5fc-5fbc29756d05.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/7ecf9f4c-65ff-4241-8ad5-7e35dbede824.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/b1f948ba-13c6-4982-aa7f-9d79d87a9e22.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/387b9fbc-466e-4902-a5e7-ddc76fb27dcd.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/Browse.VC.opendb
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/Browse.VC.db-wal
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/Browse.VC.db-shm
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/Browse.VC.db
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/.suo
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/0cb8e9f1-378c-4642-b56b-7074a4431277.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/0d80bbc3-6985-403f-be4e-ec1b30ad0d29.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/68ec9b37-800e-4de1-873b-45b32db5b228.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/df59fd9e-164e-4c6c-9302-4e67f8626bcd.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/e469049c-8565-4c5e-8fe4-92154225105d.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/394e2722-0373-4302-bd8a-76a43e3409ae.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/c390f250-2492-44c4-baeb-b56d5fbd9674.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/cbb74bd8-da2d-4efc-b462-ffeaa89f6e20.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/DocumentLayout.backup.json
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/DocumentLayout.backup.json
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/DocumentLayout.json
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/15af5c4a1e9e847b/MYFORM1.ipch
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/494088f4e0c57bfa/ADMIN.ipch
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/1b29e4938871e562/MYFORM.ipch
autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem.vcxproj.filters
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/baf60fdb95b1798e/MYFORM1.ipch
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/1b29e4938871e562/MYFORM.ipch
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/DocumentLayout.backup.json
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/DocumentLayout.json
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/1b29e4938871e562/MYFORM.ipch
autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem/admin.resx
autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem.vcxproj
autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem.vcxproj.filters
autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem/HTMLPage.htm
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/2f537b5819f90460/MYFORM.ipch
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/f58aeb77fe451a80/CLIENT.ipch
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/1b29e4938871e562/MYFORM.ipch
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/1b29e4938871e562/MYFORM.ipch
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH/1b29e4938871e562/MYFORM.ipch
/autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/v17/ipch/AutoPCH
autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem/autopark_WinForm_cpp_3sem.vcxproj
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/3297b69a-7796-40f0-8d04-94ca21aafe46.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/33955abe-509f-4bd0-8c0c-bf67b78f9ace.vsidx
autopark_WinForm_cpp_3sem/.vs/autopark_WinForm_cpp_3sem/FileContentIndex/624c8122-8bb5-4aa1-9613-783e5b3ad273.vsidx
